main{
    background-color: black;
}
main>h3{
    color: #EBC103;
    font-weight: 700;
    margin-left: 20px;
    
}
main>div.featured{
    width: 100%;
    background-color: rgb(55, 55, 55);
    
}
main>div.featured>div.swiper:nth-of-type(2){
    width: 100%;
    background-color: black;
    display: none;
}
main>div.featured>div.swiper{
    width: 100%;
    background-color: black;
}
main>div.featured>div.swiper .swiper-slide{
    width: 35%;
    background-color: black;
}
main>div.featured>div.swiper>div.swiper-button-next{
    color: rgb(94, 94, 95);
    width: 10px;
}
main>div.featured>div.swiper>div.swiper-button-prev{
    color: rgb(100, 100, 100);
    width: 10px;
}
main>div.featured>div.swiper .swiper-slide>div.pics{
    width: 100%;
    
    justify-content: center;
    background-color: black;
}
main>div.featured>div.swiper .swiper-slide>div.pics>img:nth-of-type(1){
    border-top-left-radius: 8px;
}
main>div.featured>div.swiper .swiper-slide>div.pics>img:nth-of-type(3){
    border-top-right-radius: 8px;
}
main>div.featured>div.swiper .swiper-slide>div.text{
    width: 100%;
    text-align: left;
    background-color: black;
    margin-left: 20px;
}
main>div.featured>div.swiper .swiper-slide>div.text>a.first{
    width: 90%;
    margin: 0 auto;
    display: block;
    color: white;
    margin-top: 10px;
    text-decoration: none !important;
    font-weight: 600;   
}
main>div.featured>div.swiper .swiper-slide>div.text>a.second{
     width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    text-decoration: none !important;
}


/* start popular */
main>div.popular{
    width: 100%;
    background-color: black;
}
main>div.popular>div.top{
    width: 100%;
}
main>div.popular>div.top>a{
    width: 90%;
    margin: 0 auto;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
}
main>div.popular>div.top>a>h3{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
}
main>div.popular>div.top>a>span:nth-of-type(1){
    margin-top: -2px;
}
main>div.popular>div.top>a>span:nth-of-type(2){
    margin-top: 3px;
}
main>div.popular>div.bottom{
    width: 100%;
    background-color: black;
}
main>div.popular>div.bottom>div.swiper:nth-of-type(1){
    width: 100%;
    display: none;
}
main>div.popular>div.bottom>div.swiper .swiper-slide{
    width: 100%;
    background-color: black;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(2){
    width: 100%;
    background-color: black;
    margin-top: 0px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(3){
    width: 100%;
    background-color: black;
    margin-top: 35px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(4){
    width: 100%;
    background-color: black;
    margin-top: 35px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(5){
    width: 100%;
    background-color: black;
    margin-top: 35px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(6){
    width: 100%;
    background-color: black;
    margin-top: 35px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide:nth-of-type(7){
    width: 100%;
    background-color: black;
    margin-top: 35px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.top{
    width: 100%;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.top>p{
    width: 30%;
    color: #EBC103;
    font-weight: 600;
    font-size: 13px; 
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom>a{
    width: 45%;
    margin: 0 auto;
    text-decoration: none !important;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom>a>img{
    border-radius: 50%;
    height: 134px;
    width: 124px;
    margin: 0 auto;
    object-fit: unset;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom>a>div.text{
    width: 100%;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom>a>div.text>p.first{
    width: 100%;
    color: white;
    font-size: 15px;
}
main>div.popular>div.bottom>div.swiper .swiper-slide>div.bottom>a>div.text>p.second{
    width: 100%;
    color: white;
    font-size: 17px;
    margin-top: -10px;
}



/* end popular */


/* start watch */
main>div.watchlist{
    width: 100%;
    background-color: rgb(15, 15, 15);
    margin-top: 50px;
    display: flex;
}
main>div.watchlist>h2{
    color: #EBC103;
    font-weight: 600;
    margin-left: 20px;
    width: 50%;
}
main>div.watchlist>a{
    width: 50%;
    text-decoration: none;
}
main>div.watchlist>a>p{
    margin-left: 50px;
}
main>div.watch{
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 278px;
}
main>div.watch>div.top{
    width: 100%;
}
main>div.watch>div.top>a{
    width: 90%;
    margin: 0 auto;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
}
main>div.watch>div.top>a>h3{
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-top: 5px;
}
main>div.watch>div.top>a>span:nth-of-type(1){
    margin-top: -2px;
}
main>div.watch>div.top>a>span:nth-of-type(2){
    margin-top: 5px;
}
main>div.watch>div.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
main>div.watch>div.bottom>div.svg{
    width: 20%;
    margin: 0 auto;
}
main>div.watch>div.bottom>div.svg>span{
    width: 20%;
    margin-left: 35px;
}
main>div.watch>div.bottom>div.text{
    width: 70%;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
}
main>div.watch>div.bottom>div.text>h6{
    text-align: center;
    font-weight: 700;
}
main>div.watch>div.bottom>div.text>p{
    text-align: center;
}
main>div.watch>div.bottom>div.button{
    width: 45%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}
main>div.watch>div.bottom>div.button>a{
    width: 100%;
}
main>div.watch>div.bottom>div.button>a>button{
    width: 100%;
    height: 30px;
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 20px;
    color: rgb(52, 68, 213);
    font-weight: 600;
}


/* end watch */


/* start top ten */
main>div.topten{
    width: 100%;
    background-color: rgb(15, 15, 15);
    margin-top: 20px;
}
main>div.topten>div.top{
    width: 100%;
}
main>div.topten>div.top>a{
    width: 90%;
    
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    text-align: left;
}
main>div.topten>div.top>a>h3{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
}
main>div.topten>div.top>a>span:nth-of-type(1){
    margin-top: -2px;
}
main>div.topten>div.top>a>span:nth-of-type(2){
    margin-top: 3px;
}

main>div.topten>div.bottom{
    width: 100%;
    margin-top: 20px;
}
main>div.topten>div.bottom>div.swiper{
    width: 100%;
    flex-direction: row;
}
main>div.topten>div.bottom>div.swiper{
    width: 876px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
main>div.topten>div.bottom>div.swiper .swiper-slide{
    width: 189px;
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 16, 16);
}
main>div.topten>div.bottom>div.swiper .swiper-button-next{
    color: rgb(187, 187, 187);
}
main>div.topten>div.bottom>div.swiper .swiper-button-prev{
    color: rgb(187, 187, 187);
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a{
    width: 189px;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    text-decoration: none !important;
}
main>div.topten>div.bottom>div.swiper .swiper-slide:nth-of-type(4)>a.second{
    width: 100%;
    height: 418px;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    text-decoration: none !important;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.image{
    width: 100%;
    position: relative;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.image>img{
    width: 186px;
    height: 258px;
    margin: 0 auto;
    border-top-right-radius: 10px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.image>span{
    position: absolute;
    top: -5px;
    right: -20%;
    opacity: 0.5;
}
main>div.topten>div.bottom>div.swiper .swiper-slide:nth-of-type(4)>a:nth-of-type(2)>div.image>span{
    position: absolute;
    top: -10px;
    right: 72%;
}
main>div.topten>div.bottom>div.swiper .swiper-slide:nth-of-type(4)>a:nth-of-type(2)>div.image>img{
    width: 134px;
    height: 220px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text{
    width: 100%;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.first{
    width: 100%;
    display: flex;
    margin-bottom: -10px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>span:nth-of-type(1){
    margin-left: 25px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>p{
    margin-left: 5px;
    margin-top: 2px;
    color: gray;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>span:nth-of-type(2){
    margin-left: 20px;
    margin-top: 1px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.second{
    width: 100%;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.second>p{
    color: white;
    margin-right: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.button{
    width: 100%;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button{
    width: 90%;
    height: 40px;
    display: flex;
    border: none;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button>p{
    color: #5799ef;
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer{
    width: 100%;
    height: 50px;
}
main>div.topten>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer>button{
    width: 100%;
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: none;
    margin-top: 10px;
}
/* end top ten */



/* start fan fav */
main>div.fanfav{
    width: 100%;
    background-color: rgb(15, 15, 15);
}
main>div.fanfav>div.top{
    width: 100%;
}
main>div.fanfav>div.top>a{
    width: 90%;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
}
main>div.fanfav>div.top>a>h3{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
}
main>div.fanfav>div.top>a>span:nth-of-type(1){
    margin-top: -2px;
}
main>div.fanfav>div.top>a>span:nth-of-type(2){
    margin-top: 3px;
}
main>div.fanfav>div.bottom{
    width: 100%;
    background-color: black;
}
main>div.fanfav>div.bottom>div.swiper{
    width: 876px;
    margin: 0 auto;
    background-color: rgb(16, 16, 16);
}

main>div.fanfav>div.bottom>div.swiper .swiper-slide{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main>div.fanfav>div.bottom>div.swiper .swiper-button-next{
    color: rgb(187, 187, 187);
}
main>div.fanfav>div.bottom>div.swiper .swiper-button-prev{
    color: rgb(187, 187, 187);
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a{
    width: 100%;
    height: 441px;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    text-decoration: none !important;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.image{
    width: 100%;
    position: relative;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.image>img{
    width: 186px;
    margin: 0 auto;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.image>span{
    position: absolute;
    top: -17px;
    right: 85%;
}

main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text{
    width: 100%;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.first{
    width: 100%;
    display: flex;
    margin-bottom: -10px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>span:nth-of-type(1){
    margin-left: 25px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>p{
    margin-left: 5px;
    margin-top: 2px;
    color: gray;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>span:nth-of-type(2){
    margin-left: 20px;
    margin-top: 1px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.second{
    width: 100%;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.second>p{
    color: white;
    margin-right: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a:nth-of-type(2)>div.text>div.second>p{
    color: white;
    margin-right: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.button{
    width: 100%;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button{
    width: 90%;
    height: 40px;
    display: flex;
    border: none;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button>p{
    color: #5799ef;
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer{
    width: 100%;
}
main>div.fanfav>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer>button{
    width: 100%;
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: none;
    margin-top: 10px;
}
/* end fan fav */

main>h2{
    color: #EBC103;
    font-weight: 600;
    margin-left: 15px;
}


/* start exclusive */
main>div.exclusive{
    width: 100%;
    display: flex;
    flex-direction: column;
}
main>div.exclusive>div.top{
    width: 100%;
}
main>div.exclusive>div.top>div.first{
    width: 80%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}
main>div.exclusive>div.top>div.first>h2{
    color: white;
    font-weight: 600;
    margin-top: 7px;
    font-size: 20px;
}
main>div.exclusive>div.top>div.second{
    width: 100%;
}
main>div.exclusive>div.top>div.second>p{
    width: 80%;
    margin-left: 20px;
    color: rgb(179, 179, 179);
    font-weight: 600;
}

main>div.exclusive>div.bottom{
    width: 100%;
    background-color: rgb(30, 30, 30);
}
main>div.exclusive>div.bottom>div.swiper{
    width: 100%;
}

main>div.exclusive>div.bottom>div.swiper .swiper-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
}
main>div.exclusive>div.bottom>div.swiper .swiper-button-next{
    color: rgb(187, 187, 187);
}
main>div.exclusive>div.bottom>div.swiper .swiper-button-prev{
    color: rgb(187, 187, 187);
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.top{
    width: 100%;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.top>a{
    width: 100%;
    position: relative;
    text-decoration: none !important;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.top>a>img{
    width: 420px;
    border-radius: 10px;
    margin: 0 auto;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.top>a>span{
    position: absolute;
    top: 200px;
    right: 160px;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.top>a>p{
    color: white;
    position: absolute;
    top: 205px;
    right: 120px;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom>a{
    width: 100%;
    text-decoration: none !important;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom>a>p.first{
    width: 90%;
    color: white;
    text-align: left;
    font-size: 16px;
    margin: 0 auto;
    height: 35px;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom>a>p.second{
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin-left: 25px;
    height: 25px;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom>div.text{
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
main>div.exclusive>div.bottom>div.swiper .swiper-slide>div.bottom>div.text>p{
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

/* end exclusive */

main>h2.stream{
    color: #EBC103;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 10px;
}


/* start streaming */
main>div.streaming{
    width: 100%;
}
main>div.streaming>div.top{
    width: 100%;
}
main>div.streaming>div.top>p{
    cursor: text;
    width: 50%;
    margin-left: 20px;
    color: white;
}
main>div.streaming>div.bottom{
    width: 100%;
    background-color: black;
}
main>div.streaming>div.bottom>div.swiper{
    width: 100%;
}

main>div.streaming>div.bottom>div.swiper .swiper-slide{
    width: 876px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
main>div.streaming>div.bottom>div.swiper .swiper-button-next{
    color: rgb(187, 187, 187);
}
main>div.streaming>div.bottom>div.swiper .swiper-button-prev{
    color: rgb(187, 187, 187);
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    text-decoration: none !important;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.image{
    width: 100%;
    position: relative;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.image>img{
    width: 186px;
    margin: 0 auto;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.image>span{
    position: absolute;
    top: -17px;
    right: 82%;
}

main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text{
    width: 100%;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.first{
    width: 100%;
    display: flex;
    margin-bottom: -10px;
}

main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.first>p{
    margin-left: 5px;
    margin-top: 2px;
    color: gray;
}

main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.second{
    width: 100%;
    text-align: left;
    margin-left: 20px;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.second>p{
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.button{
    width: 100%;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button{
    width: 90%;
    height: 40px;
    display: flex;
    border: none;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.button>button>p{
    color: #5799ef;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    width: 100%;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer{
    width: 100%;
    height: 50px;
}
main>div.streaming>div.bottom>div.swiper .swiper-slide>a>div.text>div.trailer>button{
    width: 100%;
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: none;
    margin-top: 10px;
}
/* end streaming */

main>h2.explore{
    color: #EBC103;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
}
main>h2.exp{
    color: #EBC103;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
}

/* start box */
main>div.box{
    width: 100%;
    background-color: rgb(27, 27, 27);
}
main>div.box>div.top{
    width: 100%;
}
main>div.box>div.top>a{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
}
main>div.box>div.top>a>h2{
    font-size: 20px;
    color: white;
    margin-top: 6px;
    font-weight: 600;
}
main>div.box>div.top>p{
    font-size: 15px;
    color: rgb(176, 176, 176);
    margin-left: 10px;
}
main>div.box>div.bottom{
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main>div.box>div.bottom>a{
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
}
main>div.box>div.bottom>a>div.left{
    width: 20%;
    margin-left: 5px;
}
main>div.box>div.bottom>a>div.left>span:nth-of-type(2)>svg{
    margin-top: -66px;
}
main>div.box>div.bottom>a>div.left>span:nth-of-type(1)>svg{
    margin-top: -76px;
    margin-left: 5px;
}

main>div.box>div.bottom>a>div.left>p{
    color: white;
}
main>div.box>div.bottom>a>div.right{
    width: 75%;
    display: flex;
    flex-direction: column;
}
main>div.box>div.bottom>a>div.right>p.first{
    color: white;
    margin-bottom: 5px
}
main>div.box>div.bottom>a>div.right>p.second{
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

/* end box */
/* start editor */
main>div.editor{
    width: 98%;
    background-color: rgb(27, 27, 27);
}
main>div.editor>div.top{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main>div.editor>div.top>h2{
    color: white;
    font-size: 20px;
    margin-top: 7px;
    font-weight: 700;
}
main>div.editor>div.bottom{
    width: 100%;
    background-color: rgb(27, 27, 27);
}


main>div.editor>div.bottom>div.swiper{
    width: 100%;
    background-color: rgb(27, 27, 27);
}
main>div.editor>div.bottom>div.swiper .swiper-slide{
    width: 100%;
    background-color: rgb(27, 27, 27);
}
main>div.editor>div.bottom>div.swiper>div.swiper-button-next{
    color: rgb(94, 94, 95);
    width: 10px;
}
main>div.editor>div.bottom>div.swiper>div.swiper-button-prev{
    color: rgb(100, 100, 100);
    width: 10px;
}
main>div.editor>div.bottom>div.swiper .swiper-slide>div.pics{
    width: 100%;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}
main>div.editor>div.bottom>div.swiper .swiper-slide>div.pics>img{
    width: 384px;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

main>div.editor>div.bottom>div.swiper .swiper-slide>div.text{
    width: 100%;
    text-align: left;
    background-color: rgb(27, 27, 27);
}
main>div.editor>div.bottom>div.swiper .swiper-slide>div.text>a.first{
    width: 90%;
    margin: 0 auto;
    display: block;
    color: white;
    margin-top: 10px;
    text-decoration: none !important;
    font-weight: 600;   
}
main>div.editor>div.bottom>div.swiper .swiper-slide>div.text>a.second{
     width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    text-decoration: none !important;
}



/* end editor */


/* start born */
main>div.born{
    width: 98%;
    background-color: rgb(27, 27, 27);
    margin-top: 30px;
}
main>div.born>div.top{
    width: 100%;
    display:flex;
    flex-direction: column;
}
main>div.born>div.top>a{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
}
main>div.born>div.top>a>h2{
     font-size: 20px;
    color: white;
    margin-top: 6px;
    font-weight: 600;
}
main>div.born>div.top>p{
    width: 90%;
    color: rgb(188, 187, 187);
    margin-left: 7px;
    font-weight: 600;
}
main>div.born>div.bottom{
    width: 100%;
    margin-top: 10px;
}

main>div.born>div.bottom>div.swiper{
    width: 100%;
}
main>div.born>div.bottom>div.swiper .swiper-slide{
    width: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: row;
}


main>div.born>div.bottom>div.swiper .swiper-slide>a{
    width: 100%;
    margin: 0 auto;
    text-decoration: none !important;
}
main>div.born>div.bottom>div.swiper .swiper-slide>a>img{
    border-radius: 50%;
    height: 186px;
    width: 186px;
    margin: 0 auto;
    object-fit: unset;
}
main>div.born>div.bottom>div.swiper .swiper-slide>a>div.text{
    width: 100%;
}
main>div.born>div.bottom>div.swiper .swiper-slide>a>div.text>p.first{
    width: 100%;
    color: white;
    font-size: 15px;
}
main>div.born>div.bottom>div.swiper .swiper-slide>a>div.text>p.second{
    width: 100%;
    color: white;
    font-size: 17px;
    margin-top: -10px;
}
/* end born */

/* start news */
main>div.news{
    width: 98%;
    background-color: rgb(27, 27, 27);
    margin-top: 30px;
    padding-bottom: 50px;
}
main>div.news>div.top{
    width: 100%;
    display:flex;
    flex-direction: column;
}
main>div.news>div.top>a{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
}
main>div.news>div.top>a>h2{
     font-size: 20px;
    color: white;
    margin-top: 6px;
    font-weight: 600;
}
main>div.news>div.middle{
    width: 100%;
}

main>div.news>div.middle>div.swiper{
    width: 846px;
    margin: 0 auto;
}
main>div.news>div.middle>div.swiper .swiper-slide{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
}
main>div.news>div.middle>div.swiper .swiper-slide>a{
    width: 100%;
    display: flex;
    flex-direction: row;
      background-color: rgb(27, 27, 27);
      text-decoration: none !important;
}
main>div.news>div.middle>div.swiper .swiper-slide>a>div.left{
    width: 33%;
}
main>div.news>div.middle>div.swiper .swiper-slide>a>div.left>img{
    width: 90px;
    height: 133px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    object-fit: cover;
}
main>div.news>div.middle>div.swiper .swiper-slide>a>div.right{
    width: 55%;
}
main>div.news>div.middle>div.swiper .swiper-slide>a>div.right>p.first{
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: white;
}
main>div.news>div.middle>div.swiper .swiper-slide>a>div.right>p.second{
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: left;
}
main>div.news>div.bottom{
    width: 100%;
    display: flex;
    gap: 10px;
}
main>div.news>div.bottom>a{
    width: 15%;
    text-decoration: none !important;
}
main>div.news>div.bottom>a>button{
    width: 100%;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
/* end news */

